<h1>Checkout</h1>

<%= image_tag("https://image.spreadshirtmedia.com/image-server/v1/mp/productTypes/815/views/1/appearances/231,width=300,height=300,backgroundColor=ffffff.jpg", :alt => "shirt") %>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
<% end %>
